<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>ComicHub - {% block title %}{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
</head>

<body>
    <header class="bg-blue-950 text-white fixed w-full top-0 left-0">
        <nav class="flex justify-between items center w-[92%] mx-auto">
            <div class="py-4 w-16 font-bold text-violet-700">
               <a href="{% url 'home' %}">ComicHub</a>
            </div>
            <div class="py-4">
                <ul class="ml-8 space-x-4">
                    {% if user.is_authenticated %}
                    <li class="inline-block">
                        <a href="{% url 'user_comics' %}" class="hover:text-gray-300">
                            My Comics
                        </a>
                    </li>
                    <li class="inline-block">
                        <a href="{% url 'add_comic' %}" class="hover:text-gray-300">
                            Add Comic
                        </a>
                    </li>
                    {% else %}
                    <li class="inline-block">
                        <a href="{% url 'login' %}" class="hover:text-gray-300">
                            Login
                        </a>
                    </li>
                    <li class="inline-block">
                        <a href="{% url 'signup' %}" class="hover:text-gray-300">
                            Register
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>