<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Comic Book Tracker{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
</head>

<body>
    <header class="bg-blue-950 py-4">
        <nav class="flex justify-between items center w-[92%] mx-auto">
            <div class="w-16 font-bold text-violet-700">
               <a href="{% url 'home' %}">ComicHub</a>
            </div>
            <div class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh]
                        left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                <ul class="flex">
                    {% if user.is_authenticated %}
                    <li class="mr-6">
                        <a class="hover:text-blue-800" href="{% url 'user_comics' %}">My Comics</a>
                    </li>
                    <li class="mr-6">
                        <a class="hover:text-blue-800" href="{% url 'add_comic' %}">Add Comic</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>